<article>
  <tabset>
    <tab heading="Sign Up">
      <div class="row" ng-controller="SignupCtrl">
        <div class="col-sm-12">
          <form class="form auth-form" name="signUpForm" ng-submit="register(signUpForm)" novalidate>
            <div class="form-group" ng-class="{ 'has-success': signUpForm.email.$valid && submitted,
                                              'has-error': signUpForm.email.$invalid && submitted }">
              <input type="email" name="email" class="form-control" ng-model="user.email"
                     required
                     placeholder="you@awesome.com"
                     mongoose-error/>
              <p class="help-block" ng-show="signUpForm.email.$error.email && submitted">
                Doesn't look like a valid email.
              </p>
              <p class="help-block" ng-show="signUpForm.email.$error.required && submitted">
                What's your email address?
              </p>
              <p class="help-block" ng-show="signUpForm.email.$error.mongoose">
                {{ errors.email }}
              </p>
            </div>

            <div class="form-group" ng-class="{ 'has-success': signUpForm.password.$valid && submitted,
                                              'has-error': signUpForm.password.$invalid && submitted }">
              <input type="password" name="password" class="form-control" ng-model="user.password"
                     ng-minlength="3"
                     placeholder="password"
                     required
                     mongoose-error/>
              <p class="help-block"
                 ng-show="(signUpForm.password.$error.minlength || signUpForm.password.$error.required) && submitted">
                Password must be at least 3 characters.
              </p>
              <p class="help-block" ng-show="signUpForm.password.$error.mongoose">
                {{ errors.password }}
              </p>
            </div>

            <div class="form-group" ng-class="{ 'has-success': signUpForm.passwordRetype.$valid && submitted,
                                                  'has-error': passwordMatch && submitted }">
              <input type="password" name="passwordRetype" class="form-control" ng-model="user.passwordRetype"
                     ng-minlength="3"
                     placeholder="re-type password"
                     required/>
              <p class="help-block"
                 ng-show="(signUpForm.password.$error.required || signUpForm.passwordRetype.$error.required || passwordMatch) && submitted">
                Password and re-type must match
              </p>
            </div>

            <div class="pull-right">
              <button class="btn btn-default btn-lg" type="submit">
                Start Munching!
              </button>
            </div>
          </form>
        </div>
      </div>
    </tab>
    <tab heading="Login">
      <div class="row" ng-controller="LoginCtrl">
        <div class="col-sm-12">
          <form class="form auth-form" name="loginForm" ng-submit="login(loginForm)" novalidate>
            <div class="form-group">
              <input type="email" name="email" class="form-control" ng-model="user.email" required placeholder="you@awesome.com">
            </div>

            <div class="form-group">
              <input type="password" name="password" class="form-control" ng-model="user.password" required placeholder="password">
            </div>

            <div class="form-group has-error">
              <p class="help-block" ng-show="loginForm.email.$error.required || loginForm.password.$error.required && submitted">
                Please enter your email and password.
              </p>
              <p class="help-block" ng-show="loginForm.email.$error.email && submitted">
                Please enter a valid email.
              </p>

              <p class="help-block">{{ errors.other }}</p>
            </div>

            <div class="pull-right">
              <button class="btn btn-default btn-lg" type="submit">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </tab>
  </tabset>

  <hr>
    <div ng-controller="LoginCtrl">
      <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
        <i class="fa fa-facebook"></i> Connect with Facebook
      </a>
      <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
        <i class="fa fa-google-plus"></i> Connect with Google+
      </a>
    </div>
  <hr>
</article>
