.logo-container {
    padding: 15px;
    color: #777;
    text-align: center;
}

.munch-desc {
  background-color: rgba(102, 3, 12, 0.85);
  color: #ffffff;
}

.logo-image {
  display: block;
  margin-left: auto;
  margin-right: auto
}
